body{
	background-color: indigo;
	position:center;
	top:40%;
	left:40%;
}
.a input{
	position:relative;
	font-family: Time New Roman;
	background-color:white;
	font-size:21px;
	text-align:center;
} 
.b{
	color:black;
}
.head{
		background-color: grey;
		color: violet;
		text-align: relative;
		font-size: 34px
}